<body class="content-body">
<div class="container">
  <div class="row">
    <div class="col-12 title-txt text-center">
        About Me
    </div>
  </div>
  <div class="row">
    <div class="col-12 typing-text para-txt m-1 text-center">
        I’m a Mobile App Developer with a BS in IT and an MS/MPhil in Computer Science, 
        where I specialized in Artificial Intelligence research.
    </div>
  </div>
  <div class="gray-cont rounded-3 p-4 m-4">
    <div class="row mt-3 subtitle-txt">
      <div class="col-auto"><i class="bi bi-person mr-1"></i></div>
    <div class="col">
    Introduction
    </div>
    </div>
    <div class="row m-1 para-txt">
      Hi, I’m Tahreem Zara 👩‍💻—a curious mind who grew up glued to a computer screen instead of textbooks (sorry teachers 😅). While other kids were busy with storybooks, I was busy exploring software, breaking Windows, reinstalling it again (yes, I can install Windows like a pro), and
      figuring out mysterious things like environment variables before I even knew they were important.
      My tech journey started way back with Adobe Photoshop 7.0, where I spent hours experimenting with designs. That creative spark eventually grew into a blend of UI/UX design, 3D modeling, machine learning, and full-stack development. Over the years, I’ve learned to build intelligent AI models, design beautiful interfaces, create smooth app experiences, and even sell digital products online.
      I love combining creativity with technical skills—whether it’s designing a sleek Angular/Ionic app with animations, building 
      a deep learning framework like UtopiaNet for cancer research, or just whipping up a quick prototype in Figma.
      What sets me apart is not just the skills, but the way I approach things: I dive in, experiment, break, rebuild, and polish until I get it right.
      Oh, and one more fun fact: while most people panic when their PC crashes, I smile because it’s just another chance to reinstall Windows.
    </div>
</div>


<div class="row m-1">
  <div class="gray-cont rounded-3 p-4 m-4 col">
    <div class="row mt-3 subtitle-txt">
      <div class="col-auto"><i class="bi bi-heart mr-1"></i></div>
    <div class="col">
    Interests
    </div>
    </div>
    <div class="row m-1 f-16 lgt-txt">
      @for (i of interests; track interests){
      <div class="tag rounded-3 col-auto m-1">{{i}}</div>
    }
    </div>
  </div>

  <div class="gray-cont rounded-3 p-4 m-4 col">
    <div class="row mt-3 subtitle-txt">
      <div class="col-auto"><i class="bi bi-heart mr-1"></i></div>
    <div class="col">
    Strengths
    </div>
    </div>
    <div class="row m-1 f-16 lgt-txt">
      @for (s of strengths; track strengths) {
      <div class="tag rounded-3 col-auto m-1">{{s}}</div>
      }
    </div>
  </div>  
</div>




  <div class="gray-cont rounded-3 p-4 m-4">
    <div class="row mt-3 subtitle-txt">
      <div class="col-auto"><i class="bi bi-mortarboard mr-1"></i></div>
    <div class="col">
    Education
    </div>
    </div>
    <div class="row m-1 para-txt">
      <div class="tag rounded-3 col m-1 px-4 py-2">
        <div class="row m-1 subtitle-txt">Master of Science in Computer Science</div>
        <div class="row m-1 my-2 f-14">COMSATS University Islamabad (CUI), Lahore Campus</div>
        <div class="row my-1">
          <div class="col">Image Processing and Machine Learning</div>
          <div class="col-auto tag rounded-2 align-items-center d-flex f-14">2023-2025</div>
        </div>
      </div>
    </div>

    <div class="row m-1 mt-2 para-txt">
      <div class="tag rounded-3 col m-1 px-4 py-2">
        <div class="row m-1 subtitle-txt">Bachelor of Science in Information Technology</div>
        <div class="row m-1 my-2 f-14">Virtual University Pakistan, Lahore Campus</div>
        <div class="row my-1">
          <div class="col"> Django, Python</div>
          <div class="col-auto tag rounded-2 align-items-center d-flex f-14">2016-2020</div>
        </div>
      </div>
    </div>

    <div class="row m-1 mt-2 para-txt">
      <div class="tag rounded-3 col m-1 px-4 py-2">
        <div class="row m-1 subtitle-txt">Intermediate</div>
        <div class="row m-1 my-2 f-14">Army Public School and College System, RYK</div>
        <div class="row my-1">
          <div class="col"> Pre-Enginering </div>
          <div class="col-auto tag rounded-2 align-items-center d-flex f-14">2014-2016</div>
        </div>
      </div>
    </div>    

    <div class="row m-1 mt-2 para-txt">
      <div class="tag rounded-3 col m-1 px-4 py-2">
        <div class="row m-1 subtitle-txt">Metric</div>
        <div class="row m-1 my-2 f-14">Army Public School and College System, RYK</div>
        <div class="row my-1">
          <div class="col"> Medical </div>
          <div class="col-auto tag rounded-2 align-items-center d-flex f-14">2012-2014</div>
        </div>
      </div>
    </div>      
</div>









  <div class="gray-cont rounded-3 p-4 m-4">
    <div class="row mt-3 subtitle-txt">
      <div class="col-auto"><i class="bi bi-person mr-1"></i></div>
    <div class="col">
    Hobbies And Interests
    </div>
    </div>

      <div class="row m-1 f-16 lgt-txt justify-content-center">
           @for (h of hobbies; track hobbies) {
            <div class="tag rounded-3 col-auto m-1 px-4 py-2">{{h}}</div>
           }

    </div>
</div>



<div class="m-4 row mb-2 justify-content-center subtitle-txt">Interested in working together or learning more about my experience? </div>

  <div class="row mb-4">
    <div class="col-12 d-flex justify-content-center mt-4 mb-4">
      <!-- <a class="btn btn-primary mx-2" href="/assets/Tahreem_Zara_Resume.pdf" download="Tahreem_Zara_Resume.pdf">Download Resume</a> -->
      <a class="btn mx-2 view-project-btn">Download My Resume</a>
      <a class="btn mx-2 contact-me-btn view-project-btn">Get In Touch</a>
    </div>
  </div>













</div>
</body>