body{
    position: fixed;
    bottom: 0;
    height: fit-content;
    width:fit-content;
    border-radius: 50%;
}
input{
  width: 4em !important;
  height: 3rem !important;
  opacity: 0.7 !important;
  background-color: rgb(186, 186, 186);
}
input:checked{
    background-color: rgb(4, 4, 4) !important;
}
// .theme-light, body{
//     background: rgba(250, 241, 254, 0.1);
//     border: 1px solid rgba(229, 158, 254, 0.4);
// }
// .theme-dark, body{
//     background: rgba(187, 0, 255, 0.2);
//     border: 1px solid rgba(229, 158, 254, 0.4);
// }