<body [class]="theme"> 
<div class="container-fluid p-4">
    <div class="row justify-content-center nav">
        <div class="col-auto" (click)="navigate('home')">@if (isActive === 'home') {<i class="bi bi-circle-fill mr-1 ml-2"></i>} Home</div>
        <div class="col-auto" (click)="navigate('projects')">@if (isActive === 'projects') {<i class="bi bi-circle-fill mr-1 ml-2"></i>} Projects</div>        
        <div class="col-auto" (click)="navigate('about')">@if (isActive === 'about') {<i class="bi bi-circle-fill mr-1 ml-2"></i>} About</div>
        <div class="col-auto" (click)="navigate('contact')">@if (isActive === 'contact') {<i class="bi bi-circle-fill mr-1 ml-2"></i>} Contact Me</div>
    </div>
</div>
</body>