.view-project-btn{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid white;
}
.contact-me-btn{
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}