<body class="content-body">

<div class="container">
  <div class="row">
    <div class="col-12 title-txt text-center">
      My Projects
    </div>
  </div>
  <div class="row">
    <div class="col-12 typing-text para-txt m-1 text-center">
      A showcase of my recent work in mobile apps, AI, ML Research and web development.
    </div>
  </div>

  <div class="row mt-3 scroll-cont pb-4" #scrollContainer>
    <div class="col-auto align-items-center d-flex scroll-arrow left-arrow" (click)="scroll('left')">
        <div class="f-30 text-white"> <i class="bi bi-arrow-left-circle"></i> </div>
    </div>
    @for (project of projects; track project.title) {
    <div class="col-3 rounded-3 border-white p-1 m-4 mx-3 project-card" (click)="viewProject(project.title)">
      <div class="w-100 rounded-3 text-white p-2 project-pictures-container d-flex justify-content-center align-items-center text-center" [style.background-image]="'url(' + (project.image?.replace('../public/', '') || '') + ')'">
        <span class="project-details">{{ project.shortDescription }} </span>
      </div>
      <div class="row project-title text-white mt-3">
        <div class="col-auto">
         {{ project.title }}
        </div>
      </div>
<div class="row mx-2">
  <div class="col-12 text-white my-2 px-0">
    <div class="d-flex flex-wrap gap-2">
      @for (tech of project.tech; track tech) {
        <span class="tag-chip">{{ tech }}</span>
      }
    </div>
  </div>
</div>
    </div>
    }
        <div class="col-auto align-items-center d-flex scroll-arrow right-arrow" (click)="scroll('right')">
        <div class="f-30 text-white"> <i class="bi bi-arrow-right-circle"></i> </div>
    </div>
  </div>

  <!-- <h2 class="text-center mb-4">My Projects</h2> -->
  <!-- <div class="row">
    @for (project of projects; track project.title) {
      <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <div>
              @for (tech of project.tech; track tech) {
                <span class="badge bg-primary me-1">{{ tech }}</span>
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div> -->
</div>

</body>
