.project-card{
    height: 35vw;
    background: gray;
    border: 1px solid white;
}
.project-pictures-container{
    height: 70%;
    background: red;
}
.project-title{
    font-size: 18px;
}
.tags{
    font-size: 12px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 8px;;
}
.project-details{
    opacity: 0;
    font-size: 12px;

}
.project-card:hover{
transform: scale(1.08);

}
.project-card:hover .project-details{
    opacity: 0.8;
    background-blend-mode: color;
    // transform: scale(1.08);

}
.scroll-cont {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;       /* Firefox */
  margin: 30px;
}
.scroll-cont::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

.scroll-arrow {
  position: absolute;
  top: 52%;
//   transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  opacity: 0.8;
}
.scroll-arrow:hover {
  opacity: 1;
}
.left-arrow {
  left: 10px;
}
.right-arrow {
  right: 10px;
}
// .btn:hover {
//   transform: scale(1.08);
//   box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); 
// }
// .scroll-cont{
//     overflow: scroll;
// }