@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 
// @import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet');

body{
    font-family: "Zalando Sans";
}
.nav{
     font-size: 20px;
    font-weight: bold;
}

.theme-dark{
    // background-color: #121212;
    background-image: url('../public/background-image-dark.jpg'); 
    background-attachment: fixed; 
    background-size: cover;
    color: white;
    
      .content-body{
        background: rgba(255, 0, 0, 0.367);
        color: white;
        // opacity: 0.8;
        }
        .title-txt{
            color: #ffffff;
        }
        .subtitle-txt{
           color: #e5e5e5
        }
        .para-txt{
            color: #e0e0e0;
        }
        .lgt-txt{
            color: #edecec;
        }
        .gray-cont{
            border: 1px solid white;
            background: rgba(203, 203, 203, 0.6);
        }
        .tag{
            border: 1px solid white;
            background: rgba(203, 203, 203, 0.6);
        }   
        .green-bg{
            background-color: #a2ffa2d3;
        }

}
.theme-light{
    // background-color: white;
    background-image: url('../public/background-image-light2.jpg');
    background-attachment: fixed; 
    background-size: cover;
    color: rgb(255, 255, 255);

      .content-body{
        background-color: rgba(255, 255, 255, 0.1);
        // background: rgba(191, 191, 191, 0.648);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        color: black;
        // opacity: 0.5;
        }
         .title-txt{
            color: #ffffff;
        }
        .subtitle-txt{
           color: #e5e5e5
        }
        .para-txt{
            color: #e0e0e0;
        } 
        .lgt-txt{
            color: #edecec;
        }

        .gray-cont{
            border: 1px solid white;
            background: rgba(203, 203, 203, 0.6);
        }
        .tag{
            border: 1px solid white;
            background: rgba(203, 203, 203, 0.6);
        }
        .green-bg{
            background-color: #a2ffa264;
        }
          

}
.content-body-home{
    margin: 60px !important; 
    margin-bottom: 30vw !important; 
}
.content-body{
    border-radius: 12px;
    padding: 16px;
    height: fit-content;
    margin: 16px;
    backdrop-filter: blur(10px);
}
.title-txt{
    font-size: 48px;
    // font-weight: 600;
}

.subtitle-txt{
    font-size: 24px;
    font-weight: 400;
}

.para-txt{
    font-size: 20px;
}

.btn {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); 
}
.f-16{
    font-size: 16px;
}
.f-14{
    font-size: 14px;
}
.f-24{
    font-size: 24px;
}
.f-30{
    font-size: 30px;
}
.view-project-btn{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid white;
}
.contact-me-btn{
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tag{
    padding: 6px;
}